<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show User in detail</title>
</head>
<body>
    <h1>Email : <%= data.email %></h1>
    <form action="/user/edit/<%= data.id %>?_method=PATCH" method="post">
        <label for="name">Username : </label>
        <textarea name="name" id="name"><%= data.name %></textarea>
        <br><br>
        <label for="password">password : </label>
        <input type="password" name="password" id="password" placeholder="Enter your password">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>